<h1 class="title">{{title}}</h1>
<p>Welcome to {{title}}</p>

<div class="centrar">
  <a href="/actores"><button class="button-index">Actores</button></a>
  <a href="/peliculas"><button class="button-index">Peliculas</button></a>
</div>