
<!doctype html>
<html lang="en">

<head>
  <title>Modelo autentificacion</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/milligram/1.3.0/milligram.css">
</head>

<body>
  <header>
    <nav>
      <ul>
        
        <li><a href='/'>Home</a></li>
        {{#unless currentUser}}
        <li><a href='/auth/signup'>Signum</a></li>
        <li><a href='/auth/login'>Login</a></li>
        {{/unless}}
        {{#if currentUser}}
      
        <form action='/auth/logout' method='POST'>
        <button type="submit">Logout</button>
        </form>
      
      <li>
        <a href="users/private"> private page</a>
      </li>
        {{/if}}
      </ul>
    </nav>
    
      </header>
       {{{body}}}
       {{!-- Librearia axios - Hace que nuestro usuario vea de forma inmediata lo que sube --}}
       <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
       
      </body>
  
  
</html>