<div class="centrar"> 
  <h3>Crear nuevo actor / actriz</h3>
</div>

<form method="POST" action="/actores" enctype="multipart/form-data">
  <div class="crear">
    <label>Ingrese nombre:
      <input type="text" name="nombre" class="input margin">
    </label>
    <label>Ingrese nacionalidad:
      <input type="text" name="nacionalidad" class="input margin">
    </label>
    <label>Ingrese pelicula:
      <input type="text" name="principalPelicula" class="input margin">
    </label>
    <label>
      <input type="file" name="photo" class="input margin select">
    </label>

    <button type="submit"class="button-crear">Crear</button>
  </div>
</form>
<div class="centrar">
<a href="/actores" ><button class="button-index">Volver a lista de actores</button></a>
</div>
  