<h3>Crear nuevo actor / actriz</h3>

<form method="POST" action="/actores">
  <label>Ingrese nombre:
    <input type="text" id="nombre" name="nombre">
  </label>
  <label>Ingrese nacionalidad:
    <input type="text" id="nacionalidad" name="nacionalidad">
  </label>
  <label>Ingrese pelicula:
    <input type="text" id="principalPelicula" name="principalPelicula">
  </label>

  <button type="submit">Crear</button>

</form>
<a href="/actores"><button>Volver a lista de actores</button></a>