/* ---- reset ---- */

html {
  box-sizing: border-box;
  background-color: #1111110d;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  height: 100%
  
}

nav{
  display: flex;
  flex-direction: row;
  background-color: white;
}
footer{
  background-color: white;
  height: 10%;
  width: 100%;
}

/* ---- typography ---- */

body {
  color: #111;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 147%;
}

h1 {}

h2 {}

h3 {}

p {
  margin: 0;
}

li{
  list-style-type: none;
}



/* ---- layout ---- */

#site-header {
  padding: 30px 0;
  color: white;
  background: #111;
}

#site-footer {
  color: white;
  padding: 60px 0;
  background: #111;
}

#site-main {
  margin-bottom: 60px;
}

.container {
  margin-right: 10px;
  margin-left: -30px;
}

.section {
  margin-bottom: 20px;
  padding-top: 20px;
}

@media (min-width: 768px) {
  .container {
    max-width: 728px;
    margin: 0 auto;
  }
}

.logo{
  width: 150px;
  height: 100px;
}

.listAuth{
  color: black;
  text-decoration: none;
}
.buscar{
  background-color: white;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 175px;
  margin: 10%;
  font-size: 20px;
  padding: 7%;
  width: 80%;
  text-align: center;
  margin-top: 0px;
}

/* .auth-li{
  text-decoration: none;
}  */
.auth-li-logout{
  color: red;
}

/* #layout{
  display: flex;
  flex-direction: column;
  background-color: red;

} */
.title{
  text-align: center;
}
.verDatos{
  text-decoration: none;
  padding: 10px;
  font-weight: 600;
  width: 60%;
  font-size: 15px;
  color: #ffffff;
  background-color: #70a3bd;
  border-radius: 6px;
  border: 2px solid #0016b0;
  margin-left: auto;
  margin-right: auto;
}

.fotos{
  width: 75%;
  height: 300px;
}
.login{
  background-color: white;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 250px;
  margin: 5%;
  font-size: 20px;
  padding: 5%;
}

.titulo{
  padding-top: 10px;
}
.centrar{
  text-align: center;
}
.input{
  height: 18%;
  border-radius: 5px;
  font-size: 18px;
  background-color: white;
  padding-left: 8px;
}
.color{
  color: rgba(139, 137, 148, 0.52)
}
.article-private{
  text-align: center;
  background-color: white;
  width: 90%;
  margin: auto;
}

.article-modificar{
  text-align: left;
  background-color: white;
  width: 90%;
  margin: auto;
  padding-left: 5px;
}
/* ---- components ---- */

.button {
  width: 100%;
  background-color: blue;
  color: #fff;
  border: 1px solid #fff
}


.button-nav{
  text-decoration: none;
  padding: 10px;
  font-weight: 600;
  font-size: 10px;
  color: #ffffff;
  background-color: #70a3bd;
  border-radius: 6px;
  border: 2px solid #0016b0;
}
.button-crear{

  text-decoration: none;
  padding: 10px;
  font-weight: 600;
  margin: 10px;
  font-size: 15px;
  color: #ffffff;
  background-color: #70a3bd;
  border-radius: 6px;
  border: 2px solid #0016b0;
}
.button-eliminar{
  text-decoration: none;
  padding: 10px;
  font-weight: 600;
  width: 60%;
  font-size: 15px;
  color: #ffffff;
  background-color:#cd6794;
  border-radius: 6px;
  border: 2px solid #0016b0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  margin-top: 2px;
}
.button-index{
  text-decoration: none;
  padding: 15px;
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
  background-color: #70a3bd;
  border-radius: 6px;
  border: 2px solid #0016b0;
  width: 90%;
  margin: 10px;
    
}

.select{
  background-color: white;

}
.crear{
  background-color: white;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  margin: 5%;
  align-items: stretch;
  font-size: 20px;
  padding: 5%;
}

.sinopsis{
  height: 60px;
  border-radius: 5px;
  font-size: 18px;
  padding-left: 8px;
}
.margin{
  margin-top: 5px;
  margin-bottom: 5px;
}

.button-alt {
  text-decoration: none;
  padding: 10px;
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
  background-color: #1883ba;
  border-radius: 6px;
  border: 2px solid #0016b0;
}

/* ---- section ---- */

section.testimonials {
  // ...
}

section.testimonials .button {
  margin-bottom: 10px;
}